<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의실 선택</title>
    <link rel="stylesheet" href="/css/classroomStyle.css" />
</head>
<body>
	<header th:replace="/menu.html"></header> <!-- menu.html을 thymeleaf를 통해 헤더에 삽입 -->
    <h1 th:text="${classNum} + '호관 강의실 선택'">강의실 선택</h1>
    <!-- 해당 건물의 강의실 버튼 표시 -->
    <div th:each="classroom : ${classrooms}">
        <!-- 각 버튼을 누르면 classroomStatus 페이지로 이동하고 해당 강의실의 이름을 전달 -->
        <form action="/classroomStatus" method="post">
            <input type="hidden" name="classroomName" th:value="${classroom}" />
            <button type="submit" th:text="${classroom}"></button>
        </form>
    </div>
</body>
</html>
